.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-content);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: var(--padding-wrapper)
}

.authButton {
  display: block;
  width: 50%;
  height: 40px;
  background-color: var(--background-color-button);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  transition: filter .3s;
}

.authButton:hover {
  filter: var(--filter-button-hover);
}