.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--content-gap-basic);
  width: 100%;
  max-width: 600px;
  margin: var(--container-gap-basic) auto;
}

.buttonWrap button {
  width: 100px;
  height: 30px;
}