.inputWrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.inputWrap .inputLabel {
  display: block;
  width: 100%;
  margin-bottom: var(--margin-content);
  text-align: center;
}

.inputWrap .authInput {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin: 0 auto;
  background-color: var(--background-color-input);
  border-bottom: 2px solid var(--border-color-input);
  color: var(--font-color-input);
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-input);
  text-align: center;
  transition: border-color .3s;
}

.authInput::placeholder {
  font-size: var(--font-size-input-message);
  color: var(--color-placeholder);
}

.inputWrap input:focus,
.inputWrap input:not(:placeholder-shown) {
  border-bottom-color: var(--focus-outline-basic);
}

.messageWrap {
  display: block;
  width: 100%;
  height: 20px;
  max-width: 300px;
  margin: 5px auto;
  font-size: var(--font-size-input-message);
  color: var(--color-placeholder);
  text-align: left;
  transition: color .3s;
}

/* 
.success {
  color: var(--color-success)
}

.failure {
  color: var(--color-failure)
} */