.commentWrap {
  width: 100%;
}

.commentList {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.commentItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--color-placeholder);
  transition: border-bottom .3s;
}

.commentItem:hover {
  border-bottom-color: var(--color-main-green);
}

.userInfoWrap {
  width: 100%;
  text-align: left;
  font-size: var(--font-size-comment);
}

.userInfoWrap span {
  vertical-align: -5.5px;
}

.userInfoWrap>strong {
  margin-left: 5px;
}

.contentWrap {
  width: calc(70% - 10px);
  font-size: var(--font-size-content);
}

.contentWrap>pre {
  display: block;
}

.dateWrap {
  width: 30%;
  text-align: right;
}

.dateWrap>span {
  display: block;
  font-size: var(--font-size-comment);
  color: var(--color-placeholder);
}

.buttonWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.writeForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  padding: var(--margin-container) 0;
}

.formContentWrap {
  display: inline-block;
  width: calc(80% - 10px);
  margin-right: 10px;
  font-size: 0;
}

.formContentWrap>h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: var(--font-size-content);
}

.formContentWrap>textarea {
  width: 100%;
  padding: 10px;
  height: 80px;
  resize: none;
  background-color: var(--background-color-input);
  border-bottom: 3px solid var(--border-color-input);
}

.formContentWrap>textarea:hover,
.formContentWrap>textarea:focus {
  border-bottom-color: var(--focus-outline-basic);
}

.formButtonWrap {
  display: inline-block;
  width: 20%;
}

.formButtonWrap>button {
  width: 100%;
  height: 80px;
  background-color: var(--background-color-button);
}

.formButtonWrap>button:hover {
  filter: var(--filter-button-hover);
}