.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.buttonWrap button {
  width: 100px;
  height: 30px;
}
