.mainFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--height-footer);
  background-color: var(--background-color-footer);
  z-index: 99999;
}

.footerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}