.mainFooter {
  position: fixed;
  bottom: 0;
  width: var(--width-footer);
  height: var(--height-footer);
  background-color: var(--background-color-footer);
}

.footerWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: var(--max-width-1280);
  height: 100%;
  margin: 0 auto;
}

.logoWrap {
  position: relative;
  width: 100%;
  max-width: 50px;
  height: auto;
  left: 0;
}

.contentWrap {}