.mainHeader {
  position: fixed;
  top: 0;
  width: var(--width-header);
  height: var(--height-header);
  background-color: var(--background-color-header);
}

.headerWrap {
  position: relative;
  width: 100%;
  max-width: var(--max-width-1280);
  height: 100%;
  margin: 0 auto;
}

.headerWrap>a {
  position: absolute;
  left: 0;
}

.headerWrap nav li {
  font-size: 1.3rem;
  font-weight: 600;
}