.mainHeader {
  position: fixed;
  top: 0;
  width: var(--width-header);
  height: var(--height-header);
  background-color: var(--background-color-header);
  z-index: 99999;
}

.headerWrap {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--margin-container);
  width: 100%;
  max-width: var(--max-width-1280);
  margin: 0 auto;
}

.logoWrap {
  position: relative;
  width: 100%;
  max-width: 200px;
  left: 0;
}

/* .navWrap {} */