.imageSlider {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: var(--margin-content);
  overflow: hidden;
}

.imageList {
  display: flex;
  position: relative;
  transition: left .3s
}

.image {
  cursor: pointer;
}

.buttonWrap {
  position: absolute;
  bottom: var(--margin-content);
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin-content);
  transform: translateX(-50%);
  z-index: 1;
}