.mainNav {
  width: 100%;
  height: var(--height-header);
}

.mainNavUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainNavUl>li {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: var(--height-header);
}