.mainNav {
  width: 100%;
  height: calc(100vh - var(--height-header) - var(--height-footer));
}

.mainNavUl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
}

.mainNavUl>li {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: var(--height-header);
}