.detailWrap {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  max-width: 600px;
  height: calc(100vh - var(--height-header) - var(--height-footer) - 70px);
  overflow-y: auto;
  background-color: #1e1e1e;
}

.head {
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #121212;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.visibility,
.type {
  display: inline-block;
  margin: 8px 5px 8px 0;
  padding: 3px 5px;
  background-color: #1e1e1e;
  border-radius: 4px;
  color: #767676;
  font-weight: 400;
}

.authorWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.main {
  margin-top: 10px;
}

.content {
  padding: 10px 16px 0;
  font-size: 16px;
  white-space: pre-wrap;
}

/* like */
.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.button {
  display: none;
}

.buttonLabel {
  cursor: pointer;
}