.head {
  position: relative;
  left: -16px;
  width: calc(100% + 32px);
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #121212;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.visibility,
.type {
  display: inline-block;
  margin: 8px 5px 8px 0;
  padding: 3px 5px;
  background-color: #1e1e1e;
  border-radius: 4px;
  color: #767676;
  font-weight: 400;
}

.authorWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.main {
  margin-top: 10px;
}

.content {
  padding-top: 10px;
  font-size: 16px;
}