/* post list */
.postList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: calc(100svh - var(--height-header) - var(--height-footer) - 50px);
  padding: 10px 16px calc(var(--height-footer) + 40px);
  margin-bottom: 40px;
  overflow: auto;
  background-color: #1e1e1e;
}

.postList>li {
  width: 100%;
  max-width: 600px;
}

/* post list item */

.postItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: var(--background-list-item);
  box-shadow: var(--box-shadow-basic);
  border-radius: 20px;
}

.itemLeftTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.authorWrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.authorWrap>strong {
  font-size: 16px;
  font-weight: 600;
}

.type {
  display: inline-block;
  padding: 3px 5px;
  background-color: #111111;
  border-radius: 4px;
  color: #767676;
  font-weight: 400;
}

.contentWrap {
  margin: 10px 0;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.iconWrap>svg {
  vertical-align: middle;
  margin-right: 3px;
}

.countNumber {
  font-size: 14px;
  color: #767676;
  font-weight: 400;
}