.menuList {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  width: 100%;
  max-width: calc(600px);
  margin: 0 auto;
  padding-right: 5px;
}

.listLine {
  width: 1px;
  height: 6px;
  background-color: #767676;
}

.button {
  font-size: 14px;
}