.button {
  position: absolute;
  top: 48px;
  left: 16px;
  width: 40px;
  height: 35px;
  background-color: #111111;
  border-radius: 4px;
  text-align: center;
  box-shadow: var(--box-shadow-basic);
}

.button:disabled path {
  fill: #565656;
}