.previewImageWrap {
  width: fit-content;
  max-width: 600px;
  overflow-x: auto;
}

.previewImageList {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-left: 50px;
}

.previewImageList.readOnly::after {
  top: 50%;
  transform: translateY(-50%);
}

.previewImage {
  position: relative;
  border-radius: 4px;
  font-size: 0;
  overflow: hidden;
}

.previewImage img {
  object-fit: cover;
}

.previewImage * {
  font-size: inherit;
}