.writeForm {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--height-header) - var(--height-footer) - 70px - 50px);
}

.titleWrap {
  position: absolute;
  top: -20px;
  width: 100%;
  padding: 0 16px;
  background-color: #111111;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.title {
  width: 100%;
  margin-bottom: 5px;
  padding: 12px 0 5px;
  font-size: 16px;
  font-weight: 600;
}

.innerNavWrap {
  position: relative;
  left: -16px;
  width: calc(100% + 32px);
  z-index: 2;
}

.selectWrap {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  width: 50%;
  height: 30px;
  border-top: 1px solid #212121;
}

.contentWrap {
  width: 100%;
  margin-top: 30px;
  padding: 200px 16px 50px 16px;
}

.content {
  position: relative;
  left: -16px;
  width: calc(100% + 32px);
  height: 300px;
  padding: 10px;
  border-top: 1px solid #111111;
  font-size: 16px;
  font-weight: 400;
  resize: none;
}

.buttonBg {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  border-radius: 50%;
  background-color: #111111;
  text-align: center;
}

/* image upload form */
.imageUploadForm {
  position: relative;
}

.imageWrap {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 0 16px;
  z-index: 2;
}

.fileInputWrap {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 35px;
  padding-top: 5px;
  background-color: #111111;
  border-radius: 4px;
  text-align: center;
  box-shadow: var(--box-shadow-basic);
  z-index: 2;
}

.fileInputWrap>label {
  cursor: pointer;
}

.description {
  margin-bottom: 10px;
}

.description>span {
  display: inline-block;
  padding-left: 50px;
  font-size: 12px;
  color: #767676;
}

.description>span:last-of-type {
  display: block;
}

.description.last {
  position: relative;
}

.description.last>span {
  padding-left: 20px;
}

.uploadMini {
  margin-right: -15px;
  margin-left: 5px;
}

.warnMini {
  top: 3.5px;
  left: 0;
  position: absolute;
}