@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

:root {
  color-scheme: light dark;

  --font-family-basic: 'wanted sans';

  --max-width-1280: 1280px;
  --max-width-1024: 1024px;
  --max-width-800: 800px;

  --min-width: 344px;

  --width-header: 100%;
  --width-footer: 100%;

  --height-header: 100px;
  --height-footer: 100px;

  --container-gap-basic: 20px;

  --font-size-12: .75rem;
  --font-size-14: .875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;

  --font-size-content: var(--font-size-16);
  --font-size-comment: var(--font-size-14);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-body: #121212;
    --background-color-header: #212121;
    --background-color-footer: #212121;

    --font-color-basic: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-body: #f9f9f9f9;
    --background-color-header: #f1f1f1;
    --background-color-footer: #f1f1f1;

    --font-color-basic: #3f3f3f;
  }
}

body {
  background-color: var(--background-color-body);
  font-family: var(--font-family-basic);
  color: var(--font-color-basic);

  max-width: 100%;
  min-width: var(--min-width);
  width: 100%;
  margin: 100px auto;
  padding-top: 30px;
}