@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  /* background-color */
  --background-color-body: #111111;
  --background-color-header: #111111;
  --background-color-footer: #111111;
  --background-color-input: #111111;
  --background-color-select: #111111;
  --background-color-button: #2a2a2a;
  --background-color-modal: #191919;
  --background-color-modal-header: #272727;
  --background-color-blur: #1c1c1c;
  --background-color-scrollbar: #1c1c1c;
  --background-color-scrollbar-thumb: var(--font-color-basic);
  --background-color-cover: rgba(0, 0, 0, .5);

  --background-list-item: linear-gradient(320deg, #111111 0%, #1e1e1e 100%);

  /* focus */
  --focus-outline-basic: #939393;

  /* box-shadow */
  --box-shadow-basic: 3px 3px 5px rgba(0, 0, 0, .2);

  /* filter */
  --filter-select-hover: brightness(140%);
  --filter-button-hover: brightness(140%);
  --filter-list-hover: brightness(140%);

  /* border */
  --border-color-input: #3a3a3a;
  --border-color-select: #3a3a3a;
  --border-color-option: #3a3a3a;
  --border-color-container: #3a3a3a;
  --border-color-content: #3a3a3a;
  --border-color-card: #4c4c4c;

  /* common-color */
  --color-main-red: #fe3f42;
  --color-main-green: #67ab70;
  --color-success: #67ab70;
  --color-failure: #dc3636;
  --color-no-focus: #c5c5c5;
  --color-placeholder: #838383;

  /* width & height */
  --max-width-1280: 1280px;
  --max-width-1024: 1024px;
  --max-width-800: 800px;
  --min-width: 344px;

  --width-header: 100%;
  --width-footer: 100%;

  --height-header: 56px;
  --height-footer: 45px;

  /* margin & padding */
  --margin-container: 50px;
  --margin-title: 40px;
  --margin-content: 20px;
  --padding-button: 3px;

  /* font */
  --font-family-basic: 'Pretendard Variable';

  --font-size-12: .75rem;
  --font-size-14: .875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;

  --font-size-title: var(--font-size-24);
  --font-size-sub-title: var(--font-size-20);
  --font-size-content: var(--font-size-16);
  --font-size-comment: var(--font-size-14);
  --font-size-button: var(--font-size-16);
  --font-size-input: var(--font-size-16);
  --font-size-input-message: var(--font-size-14);

  --font-weight-title: 600;
  --font-weight-content: 100;
  --font-weight-button: 500;
  --font-weight-input: 500;

  --font-color-basic: #f9f9f9;
  --font-color-input: #f9f9f9;
  --font-color-disabled: #4f4f4f;

}


button:focus,
a:focus {
  outline: 3px dashed var(--focus-outline-basic);
  outline-offset: 2px;
}

body {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-bottom: var(--height-footer);
  background-color: #111111;
  font-family: var(--font-family-basic);
  color: var(--font-color-basic);
  overflow: hidden;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

main {
  max-width: 600px;
  min-width: var(--min-width);
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-right: 2px solid #1e1e1e;
  background-color: #5c5c5c;
  cursor: pointer;
}