@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

:root {
  color-scheme: light dark;

  --color-main-red: #fe3f42;
  --color-main-green: #67ab70;
  --color-success: #67ab70;
  --color-failure: #dc3636;
  --color-no-focus: #c5c5c5;

  --color-placeholder: #bdbdbd;

  --background-color-cover: rgba(0, 0, 0, .5);

  --focus-outline-basic: #939393;

  --max-width-1280: 1280px;
  --max-width-1024: 1024px;
  --max-width-800: 800px;

  --min-width: 344px;

  --width-header: 100%;
  --width-footer: 100%;

  --height-header: 100px;
  --height-footer: 100px;

  --margin-container: 50px;
  --margin-title: 40px;
  --margin-content: 20px;

  --padding-button: 3px;

  --font-family-basic: 'Wanted Sans';

  --font-size-12: .75rem;
  --font-size-14: .875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;

  --font-size-title: var(--font-size-24);
  --font-size-content: var(--font-size-16);
  --font-size-comment: var(--font-size-14);
  --font-size-button: var(--font-size-16);
  --font-size-input: var(--font-size-16);
  --font-size-input-message: var(--font-size-14);

  --font-weight-title: 600;
  --font-weight-content: 100;
  --font-weight-button: 500;
  --font-weight-input: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-body: #f9f9f9;
    --background-color-header: #ececec;
    --background-color-footer: #ececec;
    --background-color-input: #f9f9f9;
    --background-color-button: #eaeaea;
    --background-color-modal: #f1f1f1;
    --background-color-modal-header: #d7d7d7;

    --filter-button-hover: brightness(90%);

    --border-color-input: #d1d1d1;

    --font-color-basic: #121212;
    --font-color-input: #121212;
    --font-color-disabled: #b7b7b7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-body: #121212;
    --background-color-header: #212121;
    --background-color-footer: #212121;
    --background-color-input: #121212;
    --background-color-button: #202020;
    --background-color-modal: #191919;
    --background-color-modal-header: #272727;

    --filter-button-hover: brightness(140%);

    --border-color-input: #3a3a3a;

    --font-color-basic: #f9f9f9;
    --font-color-input: #f9f9f9;
    --font-color-disabled: #4f4f4f;
  }
}

button:focus,
a:focus {
  outline: 3px dashed var(--focus-outline-basic);
  outline-offset: 2px;
}

body {
  background-color: var(--background-color-body);
  font-family: var(--font-family-basic);
  color: var(--font-color-basic);
}

main {
  max-width: 100%;
  min-width: var(--min-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--height-header) 0 var(--height-footer) 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main-red);
}