* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

input:focus {
  outline: inherit;
}