.postLayout {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: calc(100svh - var(--height-header) - var(--height-footer) - 70px);
  margin: 0 auto;
}

.postWrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto var(--height-footer);
  background-color: #161616;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-align: left;
}

.description {
  font-size: 16px;
  font-weight: 400;
}

.buttonWrap {
  position: absolute;
  right: 20px;
  bottom: calc((var(--height-footer)) + 10px);
}

.buttonWrap>a {
  display: block;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  border-radius: 60px;
  background-color: #1e1e1e;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  text-align: center;
}